<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!--Добавление шрифта-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
  </head>
  <body>
    <h1>Site for Legend Academy</h1>
    <p>Prod by Tjnhl</p>
    <div class="row">
      <div class="col">
        dsfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdf
      </div>
      <div class="col">
        sdfsdfsdfsdfsdfdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsd
      </div>
      <div class="col">
        sdfsdfsdfsdfsdfdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsd
      </div>
    </div>
  </body>
</html>
