<% layout('./layout/main') -%>

  <div class="container">
    <div class="hTest text-center">
      <h1 style=" margin:20px 0 20px 0; padding:20px 0 20px 0;">Зарождение Легенды! (LEGEND)</h1>
    </div>

    <div class="jumbotron">
      <p>Вся история началась ещё до того, как первые мысли о создании логотипа "LEGEND"  появились в голове одного человека. С чего же всё началось?​</p>
      <p>Осенью 2016 года в Петербурге появилась львица. Жителю северной столицы Артему Мартиросяну подарил двухмесячного львенка один хороший друг. Когда Артём в первый раз увидел львицу, то сразу решил дать ей имя Легенда. В Санкт-Петербург она прибыла в сопровождении Артема и известного в городе спортивного деятеля Теймураза Заркуа, что определило большой интерес к львице в сфере единоборств и спорта. Она тут же стала частым гостем на соревнованиях и в бойцовских клубах города.  Помимо посещения светских мероприятий львица гуляет на улице, играет с игрушками, ничем особо не отличается от обычной кошки, только разве что размером, который с каждым днём растёт. ​</p>
      <p>Легенда быстро набрала популярность не только в Северной столице, но и за её пределами. Она прекрасно знает, что такое камеры и свет софитов. В качестве приглашенной звезды она открывает спортивные мероприятия, участвует в фотосессиях и ведет себя, как и подобает светской львице – благосклонно принимая комплименты.​
         Среди друзей Легенды знаменитые артисты, элита спорта, в том числе и профессиональные бойцы и Олимпийские чемпионы. Любовь к этой большой кошке охватила весь город, но самыми близкими людьми было принято решение увековечить ее образ в новом бренде! И вот, как это произошло...</p>
      <p>Хорошо знакомый со львицей и ее хозяином Артемом тренер, судья, успешный спортсмен Силла Андрей,  как раз в этот момент задумал создание нового спортивного "бренда" . Главной задачей был поиск действительно уникального и оригинального названия и логотипа, который бы был не просто красивой картинкой, а целой историей. Так родилась идея создания логотипа "LEGEND". Было принято решение организовать фотосессию львицы и в основу графического изображения положить контур и очертания с одной из полученных фотографий. </p>
      <p>Фотосессия была проведена успешно.  Интересно то, что за основу в итоге была взята не постановочная фотография, а та что фотограф сделал экспромтом, пока львица отдыхала. Именно эта фотография больше всего подошла для графического изображения логотипа. На следующий день был отрисован логотип с фотографии и добавлена надпись LEGEND уникальным шрифтом. Так 22 апреля 2017 года появился новый бренд "LEGEND", у которого есть реальное прошлое, уникальная история и, конечно, успешное будущее!</p>
      <p>Зарождение Легенды только начинается...  Уже львица покинула Санкт-Петербург и отправилась туда, где ей будет более комфортно, в среду более привычную для её обитания, но ее мощь навсегда останется в городе на Неве.​</p>
      <p>25 июня 2017 г.   львица  Легенда прибыла в свой новый дом , сафари-парк Тайган (Крым) , где сейчас и обитает. Туда всегда можно приехать и навестить нашу красавицу, незабываемую Легенду.</p>
      <h3>
Место встречи с Легендой: Россия, Крым, г. Белогорск, парк львов Тайган.</h3>
    </div>
<!-- </div> -->
