<% layout('./layout/main') -%>
<div class="jumbotron">
  <div class="container text-center">
    <h1>Зарождение Легенды! (LEGEND)</h1>


    <p> Вся история началась ещё до того, как первые мысли о создании логотипа "LEGEND"  появились в голове одного человека. С чего же всё началось?​</p>
    <img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/joi46ta8tfm_orig.jpeg" alt="">
    <p>Осенью 2016 года в Петербурге появилась львица. Жителю северной столицы Артему Мартиросяну подарил двухмесячного львенка один хороший друг. Когда Артём в первый раз увидел львицу, то сразу решил дать ей имя Легенда. В Санкт-Петербург она прибыла в сопровождении Артема и известного в городе спортивного деятеля Теймураза Заркуа, что определило большой интерес к львице в сфере единоборств и спорта. Она тут же стала частым гостем на соревнованиях и в бойцовских клубах города.  Помимо посещения светских мероприятий львица гуляет на улице, играет с игрушками, ничем особо не отличается от обычной кошки, только разве что размером, который с каждым днём растёт. </p>
    <div class="row">
      <div class="col">
        <img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/gekm7f8qzdu_1.jpg" alt="">
      </div>
      <div class="col">
        <img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/nb8bbbuxt-g.jpg" alt="">
      </div>
      <div class="col">
        <img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/hjohyrgybim-orig.jpg" alt="">
      </div>
    </div>
    <p>Легенда быстро набрала популярность не только в Северной столице, но и за её пределами. Она прекрасно знает, что такое камеры и свет софитов. В качестве приглашенной звезды она открывает спортивные мероприятия, участвует в фотосессиях и ведет себя, как и подобает светской львице – благосклонно принимая комплименты.​
     Среди друзей Легенды знаменитые артисты, элита спорта, в том числе и профессиональные бойцы и Олимпийские чемпионы. Любовь к этой большой кошке охватила весь город, но самыми близкими людьми было принято решение увековечить ее образ в новом бренде! И вот, как это произошло...</p>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/bco7-kaUHmg" frameborder="0" allowfullscreen></iframe>
     <p>Хорошо знакомый со львицей и ее хозяином Артемом тренер, судья, успешный спортсмен Силла Андрей,  как раз в этот момент задумал создание нового спортивного "бренда" . Главной задачей был поиск действительно уникального и оригинального названия и логотипа, который бы был не просто красивой картинкой, а целой историей. Так родилась идея создания логотипа "LEGEND". Было принято решение организовать фотосессию львицы и в основу графического изображения положить контур и очертания с одной из полученных фотографий. </p>
     <img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/dei-3310_orig.jpg" alt="">
     <p>Фотосессия была проведена успешно.  Интересно то, что за основу в итоге была взята не постановочная фотография, а та что фотограф сделал экспромтом, пока львица отдыхала. Именно эта фотография больше всего подошла для графического изображения логотипа. На следующий день был отрисован логотип с фотографии и добавлена надпись LEGEND уникальным шрифтом. Так 22 апреля 2017 года появился новый бренд "LEGEND", у которого есть реальное прошлое, уникальная история и, конечно, успешное будущее!​</p>
     <h3>Тут только часть контента...</h3>
  </div>
</div>
