<% layout('./layout/main') -%>
<div class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col"><img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/gekm7f8qzdu_1.jpg" alt="" class="w-100"></div>
      <div class="col"><img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/gekm7f8qzdu_1.jpg" alt="" class="w-100"></div>
      <div class="col"><img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/gekm7f8qzdu_1.jpg" alt="" class="w-100"></div>
    </div>
  </div>
</div>
