<% layout('./layout/main') -%>
<div class="container-fluid p-0">
  <div id="carouseExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-target="#carouseExampleIndicators" data-slide-to="0"></li>
      <li data-target="#carouseExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouseExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/1.jpeg" alt="" class="d-block w-100" style="height:600px;">
        <div class="carousel-caption">
          <h1>Детская группа</h1>
          <p>Джиу-джитсу, панкратион</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/2.jpeg" alt="" class="d-block w-100" style="height:600px;">
        <div class="carousel-caption">
          <h1>Выступления</h1>
          <p>парам пам пам</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/3.jpeg" alt="" class="d-block w-100" style="height:600px;">
        <div class="carousel-caption">
          <h1>Взрослая группа</h1>
          <p>Джиу-джитсу, ММА</p>
        </div>
      </div>
    </div>
    <a href="#carouseExampleIndicators" class="carousel-control-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a href="#carouseExampleIndicators" class="carousel-control-next" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--=========================================-->

<div class="container-fluid">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Академия единоборств LEGEND</h1>
      <p> - территория мужества и успеха. Мы воспитываем настоящих лидеров искусства побеждать. Развиваем уверенность и способность добиваться поставленных целей, как в спорте так и на жизненном пути. Мы хотим гордиться нашими воспитанниками и делаем всё, чтобы они стали уверенными в себе и способными изменить мир к лучшему.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h5>Постников Александр</h5>
        <img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/editor/2_4.jpg?1492908239" alt="">
        <p>
          Приветствую всех, хотел выразить благодарность Спортивному Клубу "Легенда" и лично Андрею Силле "Спасибо тренер!"
          За грамотность, понимание, терпение и высокий профессионализм. Сын, в свои 8 лет, очень рад , что занимается в этом клубе. Тренер ему нравится и занятия тоже (ходит с большим удовольствием)!
        </p>
      </div>
      <div class="col">
        <h5>Григорьев Дмитрий</h5>
        <img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/4_1_orig.jpg" alt="" style="height:210px;">
        <p>
          Отличный клуб для воспитания сына.
          Тренер доброжелательный, с чувством юмора, умеющий расположить к себе и найти подход к ребёнку. Ребята в клубе очень крепкие и техничные, после тренировки не вытянуть из зала! Занятия в клубе формируют твердый мужской характер и стойкость. Результат говорит сам за себя.
        </p>
      </div>
      <div class="col">
        <h5>Карастеков Оликан </h5>
        <img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/editor/3_8.jpg?1492910586" alt="">
        <p>
          Сына отдал в 5 лет. Уже через год он начал выступать на соревнованиях и завоёвывать призовые места. Очень сильно окреп и стал более уверенным в себе. Говорит у него появилось много друзей. На занятия бежит с удовольствием и мечтает стать чемпионом Мира. Тренер говорит, что будет, и мы в этом не сомневаемся.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="jumbotron">
  <div class="container text-center">
    <h1>Академия единоборств LEGEND</h1>
    <p> - территория мужества и успеха. Мы воспитываем настоящих лидеров искусства побеждать. Развиваем уверенность и способность добиваться поставленных целей, как в спорте так и на жизненном пути. Мы хотим гордиться нашими воспитанниками и делаем всё, чтобы они стали уверенными в себе и способными изменить мир к лучшему.</p>
  </div>
</div>
<div class="cont">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/HKrCgGp3bno" frameborder="0" allowfullscreen></iframe>
</div> -->
