<% layout('./layout/main') -%>
<div class="container-fluid" style="margin:0;padding:0;">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Экипировка для единоборств "LEGEND"</h1>
    </div>
  </div>
  <!---->
  <div class="container-fluid">
    <div class="container">
      <div class="text-center">
        <p style="font-size:20px;">Шорты + рашгард  (5000 р.)</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Заказать</a></p>
      </div>
      <div class="row text-center">
        <div class="col">
          <img src="http://www.brand-legend.com/uploads/1/0/6/3/106364849/5_orig.jpg" alt="" style="width:500px;">
        </div>
        <div class="col">
          <img src="http://www.brand-legend.com/uploads/1/0/6/3/106364849/6_orig.jpg" alt="" style="width:500px;">
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div class="container-fluid">
    <div class="container">
      <div class="text-center">
        <p style="font-size:20px;">Патчи "LEGEND" (300 р)</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Заказать</a></p>
      </div>
      <div class="row text-center">
        <div class="col">
          <img src="http://www.brand-legend.com/uploads/1/0/6/3/106364849/jqe9qm3mm-u-2.jpg" alt="" style="width:500px;">
        </div>
        <div class="col">
          <img src="http://www.brand-legend.com/uploads/1/0/6/3/106364849/xj1rvbpvcki.jpg" alt="" style="width:500px;">
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div class="container-fluid">
    <div class="container">
      <div class="text-center">
        <p style="font-size:20px;">Медальница "LEGEND"</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Заказать</a></p>
      </div>
      <div class="row text-center">
        <div class="col">
          <img src="http://www.brand-legend.com/uploads/1/0/6/3/106364849/editor/sddmoxvxajc-orig.jpg?1496418780" alt="" style="width:500px;">
        </div>
      </div>
    </div>
  </div>

</div>
