<% layout('./layout/main') -%>
<div class="container text-center">
  <div class="btn-group" data-toggle="buttons" style="margin:10px;">
    <label class="btn btn-primary active" >
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Санкт - Петербург
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="option2" autocomplete="off"> Бологое
    </label>
  </div>
</div>
<p>Сперва надо выбрать какой филиал. типа спб или бологое</p>
<p>Сделаю типа переключателя. И буду прогружать нужную талицу по новым ГЕТ запросам table/spb и table/bologoe</p>
<p>Таблица в виде див-блоков, и сортировочный выпадающий список, чтобы пользователь выбрал нужный виде ртенировки и из общей таблицы исчезли неинтересующие варианты</p>
<img src="http://www.academylegend.com/uploads/2/3/9/2/23926212/2123512095_orig.jpg" alt="" class="text-center">
