<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/font-awesome/css/font-awesome.css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap-reboot.css">
    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/javascripts/script.js"></script>
    <!--Добавление шрифта-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">

  </head>
  <body>
    <!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
    <div class="top_bar">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="social">
              <li><a target="_blank" href="#"><i class="fa fa-vk"></i></a></li>
              <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="rightc">
              <li><i class="fa fa-tel"></i> <a href="tel:+79315350875">8 (931) 535-08-75 (СПб)</a><br></li>
              <li><i class="fa fa-tel"></i> <a href="tel:+79315350875">8 (931) 535-08-75 (Бологое)</a><br></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!navbar!!!!!!!!!!!!!!!!!!!!!!!!!!-->



    <div class="container-fluid nnav">
    <nav class="navbar  navbar-expand-lg navbar-light">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a href="/" class="navbar-brand mr-5">
        <img class="navbar-brand-logo" src="../images/brand.png" srcset="../images/brand.png 264w, ../images/brand.png 528w" sizes="250px" alt="Charming Logo">
      </a>

      <div class="navbar-collapse justify-content-md-end collapse" id="navbar-nav">
        <ul class="navbar-nav charming-mobile-nav">
          <li class="nav-item "><a href="/" class="nav-link font-weight-bold">ГЛАВНАЯ</a></li>
            <li class="nav-item"><a href="/about" class="nav-link font-weight-bold">О НАС</a></li>
            <!-- <li class="nav-item"><a href="/filials" class="nav-link font-weight-bold">ФИЛИАЛЫ</a></li> -->
            <!-- <li class="nav-item"><a href="/table" class="nav-link font-weight-bold">РАСПИСАНИЕ</a></li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                РАСПИСАНИЕ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/tablespb">Санкт-Петербург</a>
                <a class="dropdown-item" href="/tablebologoe">Бологое</a>
              </div>
            </li>
            <!---->
            <li class="nav-item"><a href="/coach" class="nav-link font-weight-bold">ТРЕНЕР</a></li>
            <li class="nav-item"><a href="/prod" class="nav-link font-weight-bold">ПРОДУКЦИЯ</a></li>
            <!-- <li class="nav-item"><a href="/price" class="nav-link font-weight-bold">ЦЕНЫ</a></li> -->
            <li class="nav-item"><a href="/contacts" class="nav-link font-weight-bold">КОНТАКТЫ</a></li>
        </ul>
      </div>
    </div>



    <!-- </nav> -->
    <!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->

    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <%-body -%>


    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <!-- <section id="features" class="block py-8 block-bb">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img class="img-fluid img-simple-border" src="https://hackerthemes.com/charming/examples/startup/assets/images/635x360.png" alt="Image placeholder">
        </div>
        <div class="col-md-5 pl-md-3 mt-2 mt-md-0">
          <h2 class="font-weight-bold">A feature highlight module to highlight your best side</h2>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </section> -->
  <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
  </div>

  <div class="footer">
      <div class="container">
      	<div class="row">
      		<div class="col-md-2 widget">
          	    <h2>Меню</h2>
                  <article class="widget_content">
                      <ul>
                          <li>О нас</li>
                          <li>Расписание</li>
                          <li>Тренер</li>
                          <li>Продукция</li>
                          <li>Цены</li>
                   </ul>
                   </article>
      		</div>
              <div class="col-md-5 widget">
          	    <h2>Ссылки на нас</h2>
                  <article class="widget_content">
                      <ul>
                          <li><i class="fa fa-vk text-blue">  Вконтакте</i></li>
                          <li><i class="fa fa-instagram text-blue"> Instagram</i></li>
                          <li><i class="fa fa-youtube text-blue"> YouTube</i></li>
                   </ul>
                   </article>
      		</div>
              <div class="col-md-5 widget">
                  <h2>Наши контакты</h2>
                  <article class="widget_content">
                      <p>Санкт-Петербург, ул. Латышских стрелков д. 13 к. 1 <br>
                         Какой то фитнес клуб, где базируется <br>
                         Телефон: +62 274 387656<br>
                         <a href="#">Посмотреть на карте</a>
                       </p>
                  </article>
                  <article class="widget_content">
                      <p>Тверская обл. г.Бологое , Заводской м-он, д. 16.<br>
                        Здание : МБУ "ФОК "Кристалл" <br>
                        Телефон: +62 274 387656 <br>
                        <a href="#">Посмотреть на карте</a>
                       </p>
                  </article>
      		</div>
      	</div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row">
      		<div class="col-md-12 widget">
            © 2017 | Created with Boostrap. <a href="#">Tjnhl</a> prod
          </div>
          </div>
      </div>
  </div>
  </body>
</html>
